<h2>Create a User</h2>

<h3>Please use only letters and numbers</h3>

<% if valid == false%>
  <h2 style="color:red">Please use a correct username and password</h2>
<% end%>

<form class="login" action="/create" method="post">

  <div class="">
    <h3>Username</h3>
    <input type="text" name="username" pattern="[a-zA-Z0-9]{3,20}" required>
  </div>

  <div class="">
    <h3>Password</h3>
    <input type="password" name="password" pattern="[a-zA-Z0-9]{3,20}" required>
  </div>

  <br>
  <button type="submit" name="submit">create</button>

</form>
