<form class="login" action="/login" method="post">

  <h2 style="color:red">Please use correct username and password</h2>

  <div class="">
    <h2>Username</h2>
    <input type="text" name="username" value="" required>
  </div>

  <div class="">
    <h2>Password</h2>
    <input type="password" name="password" value="" required>
  </div>

  <br>
  <input type="submit" name="submit" value="Submit">

</form>
