<% if created == true%>
  <h2>Account created successfully, log in to continue</h2>
<% end%>

<form class="login" action="/login" method="post">

  <div class="">
    <h3>Username</h3>
    <input type="text" name="username" value="" required>
  </div>

  <div class="">
    <h3>Password</h3>
    <input type="password" name="password" value="" required>
  </div>

  <br>
  <input type="submit" name="submit" value="Submit">

</form>

<h3>Create Account</h3>
<a href="/create">New User</a>
