<% if created == true%>
  <h2>Account created successfully, log in to continue</h2>
<% end%>

<form class="login" action="/login" method="post">
  <div class="credentialsContainer">
    <div class="credentialsInner">
      <h3>Username</h3>
      <input type="text" name="username" pattern="[a-zA-Z0-9]{3,20}" required>
    </div>

    <div class="credentialsInner">
      <h3>Password</h3>
      <input type="password" name="password" pattern="[a-zA-Z0-9]{3,20}" required>
    </div>
  </div>
  <br>
  <input type="submit" name="submit" value="Login">

</form>

<hr>

<div class="newUser">
  <h2>New User?</h2>
  <br>
  <a href="/create">Create Account</a>
</div>
